#jiaran {
    width: 240px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: #f2adad;
    display: inline-block;
}
#beila {
    width: 240px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: #7676b1;
    display: inline-block;
}
#jiale {
    width: 240px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: #6e6586;
    display: inline-block;
}
#nailin {
    width: 240px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: #efe6e1;
    display: inline-block;
}
#xiangwan {
    width: 240px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: #c4c7f6;
    display: inline-block;
}
